@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #313131;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1227px;
  width: 90%;
  margin: 0 auto;
}

.logo {
  font-size: 44px;
  font-weight: 400;
  color: #ffffff;
}

// .app {
//   display: flex;
//   column-gap: 29px;
// }

.app {
  height: 100vh;
  width: 100%;
}

.layout {
  display: flex;
  height: 100%;
  width: 100%;
}

.sidebar {
  overflow-y: auto;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 16px;
  overflow-y: auto;
}

.page-content {
  flex: 1;
  padding-top: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

.row1 {
  display: flex;
  flex-wrap: wrap;
}

.col-4 {
  width: 33.3%;
  padding: 0 15px;
}

.col-6 {
  width: 50%;
  padding: 0 15px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sheduleModal_container {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #2b2b2b00 inset !important; // Цвет фона, например, тёмный
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
  }
}
