@use '../../app/styles/constatnts.scss' as *;

.login{
    max-width: 1220px;
    width: 90%;
    margin: 50px auto;
    color: $white;


    &_logo{
        font-size: 44px;
        margin-bottom: 131px;
        font-weight: 400;
    }

    &_cont{
        display: flex;
        justify-content: space-between;
        align-items: center;

        &_description{
            text-align: center;

            h1{
                font-size: 72px;
                font-weight: 400;
            }
            p{
                color: #ffffff5c;
                font-size: 32px;
            }
        }

        &_form{
            text-align: center;
            padding: 50px 37px;
            background-color: $black;
            border-radius: 20px;
            width: 480px;

            h2{
                font-weight: 400;
                font-size: 44px;
                margin-bottom: 12px;
            }

            p{
                font-size: 22px;
                font-weight: 300;
                margin-bottom: 46px;
                padding: 0 25px;
            }

            input{
                width: 100%;
                border-radius: 20px;
                padding: 21px 24px;
                margin-bottom: 32px;
                font-size: 24px;
            }

            button{
                background-color: $green;
                width: 100%;
                margin-top: 10px;
                color: $white;
                padding: 20px;
                border: none;
                border-radius: 20px;
                font-size: 26px;
                font-weight: 500;
            }
        }
    }
}