@use '../../../app/styles/constatnts.scss' as *;

.studentsTable {
  width: 100%;
  &__head {
    margin-top: 36px;
    display: flex;
    column-gap: 20px;
    width: 100%;

    &-search {
      display: flex;
      align-items: center;
      border: 1px solid #ffffff;
      border-radius: 5px;
      padding-right: 10px;
      width: 33.3%;
      opacity: 60%;
      input {
        width: 100%;
        border: none;
        background-color: transparent;
        outline: none;
        padding: 15px 26px;
        font-family: Inter;
        font-weight: 400;
        font-style: Regular;
        font-size: 18px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0%;
        color: #ffffff;
        &::placeholder {
          font-family: Inter;
          font-weight: 300;
          font-style: Light;
          font-size: 18px;
          leading-trim: NONE;
          line-height: 100%;
          letter-spacing: 0%;
        }
      }
    }

    &-search-manager {
      display: flex;
      align-items: center;
      border: 1px solid #ffffff;
      border-radius: 5px;
      padding-right: 10px;
      width: 70%;
      opacity: 60%;
      input {
        width: 100%;
        border: none;
        background-color: transparent;
        outline: none;
        padding: 15px 26px;
        font-family: Inter;
        font-weight: 400;
        font-style: Regular;
        font-size: 18px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0%;
        color: #ffffff;
        &::placeholder {
          font-family: Inter;
          font-weight: 300;
          font-style: Light;
          font-size: 18px;
          leading-trim: NONE;
          line-height: 100%;
          letter-spacing: 0%;
        }
      }
    }
    &-select {
      width: 35%;
    }
    &-add {
      width: 33.3%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: transparent;
      border: 1px solid #2de920;
      border-radius: 5px;
      padding: 10px 15px;
      font-family: Inter;
      font-weight: 300;
      font-style: Light;
      font-size: 18px;
      leading-trim: NONE;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;
      color: #fff;
      cursor: pointer;
      img {
        margin-right: 8px;
      }
    }
  }
  &__table {
    margin-top: 36px;
    width: 100%;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    &-head {
      tr {
        background-color: #121212;
        border: none;
        border-radius: 6px 6px 0px 0px;
        th {
          padding: 16px 13px;
          font-family: Inter;
          font-weight: 300;
          font-style: Light;
          font-size: 20px;
          leading-trim: NONE;
          line-height: 100%;
          letter-spacing: 0%;
          text-align: start;
          color: #fff;
        }
      }
    }
    &-body {
      tr {
        border: 1px solid #fff;
        transition: all 0.3s;
        cursor: pointer;
        td {
          padding: 16px 15px;
          text-align: start;
          font-family: Inter;
          font-weight: 300;
          font-style: Light;
          font-size: 16px;
          leading-trim: NONE;
          line-height: 100%;
          letter-spacing: 0%;
          color: #fff;
        }

        &:nth-child(odd) {
          background: #12121240;
        }
        &:nth-child(even) {
          background: #12121280;
        }
        &:hover {
          background: #2de92040;
        }
      }
    }
  }
  &__pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}

/* hover-эффект для пунктов выпадающего списка */
.ant-select-item-option:hover {
  background-color: #f0f0f0;
  color: #000;
}
