.reportTableDetail {
  .addTeacher__tabs-button {
    width: 16.6%;
    margin-bottom: 50px;
    &:nth-child(6) {
      border-radius: 0 6px 6px 0;
    }
    &:nth-child(-n + 5) {
      border-right: 2px solid #fff;
    }
  }
}
.reportTableStudents {
  &__comment {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
  }
}
.reportTablePlan {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  &__item {
    padding: 19px 26px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    &-head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      h3 {
        font-family: Inter;
        font-weight: 300;
        font-style: Light;
        font-size: 20px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0%;
        color: #fff;
      }
      p {
        font-family: Inter;
        font-weight: 300;
        font-style: Light;
        font-size: 18px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0%;
        color: #ffffff;
      }
    }
    &-description {
      margin-top: 30px;
      font-family: Inter;
      font-weight: 300;
      font-style: Light;
      font-size: 18px;
      leading-trim: NONE;
      // line-height: 34px;
      letter-spacing: 0%;
      color: #fff;
      opacity: 60%;
      margin-bottom: 24px;
    }
    .row1 {
      row-gap: 20px;
    }
    &-task {
      display: flex;
      align-items: center;
      column-gap: 7px;
      span {
        font-family: Inter;
        font-weight: 300;
        font-style: Light;
        font-size: 19px;
        leading-trim: NONE;
        line-height: 34px;
        letter-spacing: 0%;
        color: #fff;
        opacity: 60%;
      }
      p {
        font-family: Inter;
        font-weight: 300;
        font-style: Light;
        font-size: 18px;
        leading-trim: NONE;
        line-height: 34px;
        letter-spacing: 0%;
        color: #fff;
      }
    }
  }
}
.reportTableInTable {
  &__first {
    overflow-x: auto;
    width: 100%;
    .universalTable {
      width: 100%;
      table-layout: fixed;
      &__body {
        &-visiting {
          p {
            padding: 5px 47px;
            background-color: #444444;
            color: #fff;
            border: 0.5px solid #ffffff;
            border-radius: 4px;
          }
        }
        &-student {
          // width: 200px;
          word-wrap: normal;
          position: sticky;
          left: -1px;
          width: 100%;
          background-color: #313131;
        }
        &-head {
          background: #121212;
        }
        tr {
          background: #313131;
          pointer-events: none;
        }
      }
    }
    &::-webkit-scrollbar {
      width: 6px; /* для вертикального */
      height: 6px; /* для горизонтального */
    }

    /* Фон скроллбара */
    &::-webkit-scrollbar-track {
      background: #313131;
      border-radius: 6px;
    }

    /* Сам ползунок */
    &::-webkit-scrollbar-thumb {
      background: #2de920;
      border-radius: 6px;
    }

    /* При наведении */
    &::-webkit-scrollbar-thumb:hover {
      background: #2de920;
    }
  }
  &__second {
    overflow-x: auto;
    .universalTable {
      table-layout: fixed;
      width: 100%;
    }
    &::-webkit-scrollbar {
      width: 6px; /* для вертикального */
      height: 6px; /* для горизонтального */
    }

    /* Фон скроллбара */
    &::-webkit-scrollbar-track {
      background: #313131;
      border-radius: 6px;
    }

    /* Сам ползунок */
    &::-webkit-scrollbar-thumb {
      background: #2de920;
      border-radius: 6px;
    }

    /* При наведении */
    &::-webkit-scrollbar-thumb:hover {
      background: #2de920;
    }
  }
}
