@use '../../../app/styles/constatnts.scss' as *;
.home-work-detail {
  margin-top: 56px;
  color: $white;

  .title {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 24px;
  }

  .description {
    font-size: 22px;
    margin-bottom: 36px;
    color: #ffffff68;
    font-weight: 300;
  }
}
