.groups {
  &__subtitle {
    font-family: Inter;
    font-weight: 300;
    font-style: Light;
    font-size: 22px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    color: #fff;
    opacity: 60%;
    margin-bottom: 12px;
  }
  &__title {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 36px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    color: #fff;
  }
}
