@use '../../app/styles/constatnts.scss' as *;

.accaunts_cont {
  max-width: 400px;
  width: 90%;
  margin: 0 auto;
  position: relative;

  .accaunts {
    padding: 3px;
    flex-shrink: 0;
    border-radius: 100px;
    color: white;
    background-color: $dark;

    &_main {
      display: flex;
      gap: 8px;

      &_img {
        width: 54px;
        height: 54px;
        border-radius: 50%;
        border: 1px solid $green;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }

      &_name {
        width: 280px;
      }

      &_more {
        border: 1px solid $white;
        display: flex;
        align-items: center;
        padding: 10px 16px;
        border-radius: 50%;
      }
    }

    &_logout {
      position: absolute;
      width: 100%;
      top: 62px;
      display: flex;
      align-items: center;
      gap: 8px;
      margin-top: 12px;

      button {
        background: none;
        border: none;
        color: white;
        cursor: pointer;
        font-size: 18px;
      }
    }
  }

  .accaunts_logout {
    background-color: $dark;
    padding: 17px;
    display: flex;
    justify-content: center;
    border-radius: 100px;
  }
}
