@use '../../../app/styles/constatnts.scss' as *;

.payment {
  margin-top: 150px;
  position: relative;
  &_header {
    font-size: 18px;
    color: $white;
    margin-bottom: 30px;
    &_reload {
      gap: 8px;
    }
  }

  &_statistics {
    padding: 32px 32px 0 32px;
    background-color: $dark;
    border-radius: 24px;
    color: $white;
    overflow: hidden;

    .sum {
      font-size: 20px;
      font-weight: 400;
    }

    &_sum {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      height: 100%;

      h2 {
        font-size: 70px;
        margin-bottom: 180px;
      }

      p {
        width: 70%;
        font-size: 18px;
      }
    }

    &_progress {
      width: 50%;
      display: flex;
      gap: 32px;
      transform: translateY(40px);
    }
  }

  .pay_user {
    gap: 20px;
    margin-top: 20px;

    &_left,
    &_right {
      background-color: $dark;
      padding: 32px;
      border-radius: 24px;
      color: $white;

      &_header {
        margin-bottom: 270px;
      }
      .type_pay {
        color: #ffffff99;
        font-size: 16px;
      }

      p {
        font-size: 20px;
      }

      h2 {
        font-size: 80px;
        font-weight: 400;
      }
    }

    &_left {
      width: 40%;
    }
    &_right {
      width: 60%;
    }
  }
  .pay_online {
    background-color: $dark;
    padding: 32px;
    border-radius: 24px;
    color: $white;
    margin-top: 20px;

    &_header {
      margin-bottom: 270px;
      align-items: normal;
      h2 {
        font-size: 90px;
        font-weight: 400;
      }
    }

    .type_pay {
      color: #ffffff99;
      font-size: 16px;
      font-weight: 400;
    }
  }
}
